body {
  font-family: "trade-gothic-next", "ABCRepro-Medium", Helvetica, Arial, sans-serif;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

h1 {
  padding: 1rem 0 1rem 0;
  text-align:left;
  font-family: "tribute", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 3.5rem;
}

h3 {
  padding: 10rem 50rem 30rem 10rem;
  text-align:left;
  font-family: "tribute", serif;
  font-weight: 400;

}
